{% extends 'layout.html' %}

{% block body %}
    <h1>1e0a</h1>
    <p>
        In this work we develop an assessment program, based on
        feedback from a user to promote the learning of basic rhythmic
        patterns. For a generated rhythm pattern the performance
        assessment of the user is carried out through the statistical deviations
        calculated from the temporal assessment of a user’s
        performance, and compared with the generated pattern. The
        performance accuracy of the user prompts the application to 
        choose the next pattern based on a predefined pattern complexity metric.
    </p>
    
{% endblock %}