{% extends 'layout.html' %}

{% block body %}
<style>
  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  </style>
   <div class="jumbotron text-center">
    <h1>Welcome To 1e0a</h1>
    <p class="lead">This is a rhythm performance assessment tool developed by Noel Alben to
      aid in his research.
      By successfully registering you have agreed to be a subject in the research work and I thank you immensely for the time and efforts that you have taken
      to help me.
      If you have not registered yet, kindly click on register in the dashboard you see above and fill all the boxes.
      Thank you again!
    </p>
    <h3>Before you start please read through these instructions:</h3>
    <div align ="left">
      <ul>
      <li>The Preferred device to access this application is a desktop/laptop for ideal results</li>
      <li>You must register through the registration portal of the application and please do ensure that you fill all the fields, 
        if a particular field does not apply to you kindly fill it as 'NA'
      </li>
      <li>Being a musician does not only pertain to playing an instrument, a singer can 
        fill the field of Instruments Played as ‘Vocals’.</li>
        <li> Once you log in to the application kindly read all the instructions on the webpage.</li>
        <li>You can always come back to your last pattern with the login and password that you have set.</li>
        <li> Ignore the accents when you perform your recording as the accents are present only for your understanding of the cycle length.</li>
        <li>Please use percussion instruments only apart from clapping, snapping fingers or tapping</li>
        <li>Kindly use the same instrument/rhythm interface and experimental setup for consistent results. For example, if you are clapping (or playing any percussion instrument), 
          please continue to clap (or use the same percussion instrument) throughout the course of all assessments. </li>
    </ul>
  </div>

  <b>Consent: We will be collecting and processing the following data:
    <div align = "left">
    <li>Your registration information</li> 
    <li>recordings uploaded and number of times you listened to each pattern.</li>  
    By successfully registering, you have agreed to be a subject in the research work and consent to publish the results obtained from the data analysis.
     With your additional consent, we will acknowledge your name as a participant in any publication resulting from this research work.</b>
    </div>
  </div>
{% endblock %}